/* cascading style sheet*/
/* 선택자(selector)*/
html, body{
    margin: 0 auto;
}

ul, li{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    list-style: none;
}

nav, main{
    border-top: solid 1px #e4e8eb;
}

#line-center{
    margin: 0 auto;
    width: 1130px;
}

.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-search h1{
    width: 222px;
    height: 52px;
    display: inline-block;
    background: url(../source/logo.png) 0 -158px;
    background-size: 457px 434px;
    margin: 0 auto;
    vertical-align: middle;
    position: relative;
    left: -10px;
}

#header-search fieldset{
    width: 582px;
    height: 52px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    border: 2px solid #19ce60; /* hex */
    vertical-align: middle;
    position: relative;
}

#header-search fieldset input{
    border: none;
    padding: 0;
    width: 444px;
    height: 24px;
    padding: 13px 15px;
    margin: 1px;
    outline: none;
    line-height: 50px;
    font-size: 18px;
    vertical-align: top;
    
}

#header-search fieldset button{
    width: 56px;
    height: 56px;
    border: none;
    background: #19ce60;
    vertical-align: top;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: -2px;
    top: -2px;
}

#header-search fieldset button .but-ico{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../source/logo.png) -420px 0 no-repeat;
    background-size: 457px 434px;
}

#headermenu{
    width: 1130px;
    height: 160px;
}

#navmenu{
    width: 1350px;
    height: 52px;
    padding: 10px 0;
    box-sizing: border-box;
}

.firstnav{
    float: left;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
}

.secondnav{
    float: left;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
}

nav ul li{
    float: left;
    padding-left: 10px;
}

nav a{
    color: #19ce60;
}

nav h2{
    float: right;
}

.nav-ico{
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url(../source/logo.png) -420px -73px no-repeat;
    background-size: 457px 434px;
}

#mainmenu{
    padding: 20px;
}

.banner_img img{
    width: 750px;
    height: 135px;
}