/* cascading style sheet*/
/* 선택자(selector)*/
*{

}

#header-center{
    margin: 0 auto;
    width: 1130px;
}

.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-search h1{
    width: 222px;
    height: 52px;
    display: inline-block;
    background: url(../source/logo.png) 0 -158px;
    background-size: 457px 434px;
    margin: 0 auto;
    vertical-align: top;
}

a{
    text-decoration: none;
}

#header-search fieldset{
    width: 582px;
    height: 52px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    border: 2px solid #19ce60; /* hex */
    vertical-align: top;
}

#header-search fieldset input{
    border: none;
    padding: 0;
    width: 444px;
    height: 24px;
    padding: 13px 15px;
    margin: 1px;
    outline: none;
    line-height: 50px;
    font-size: 18px;
    vertical-align: top;
}

#header-search fieldset button{
    width: 56px;
    height: 56px;
    border: none;
    background: #19ce60;
    vertical-align: top;
    cursor: pointer;
    padding: 0;
}

#header-search fieldset button .but-ico{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../source/logo.png) -420px 0 no-repeat;
    background-size: 457px 434px;
}